* {
    margin: 0%;
    padding: 0%;
    font-family: 'Stick No Bills', sans-serif;
}


body{
    margin: 0;
    padding: 0;
    background: url(ff.jpg);
    background-size: cover;
    text-decoration: none;
    
}
.box{
    width: 750px;
    background-color: rgba(9, 39, 2, 0.7); 
    padding: 30px;
    text-align: center;
    margin: auto;
    margin-top: 45px;
    color: white;
    font-family: 'Stick No Bills', sans-serif;
    opacity: 0.80;
    border-radius: 15px;
}

.navbar{
    padding: 0;
    margin: 0;
    list-style-type:none;
    background-color: black;
    opacity: 1;
}

h4{
    color:darkgreen;
    transition: 0.6s;
    opacity: 0.65;
    
}

h3{
    color:darkgreen;
    transition: 0.6s; 
    

}

h4:hover{
    color:#e67c4c ;
}
h3:hover{
    color:#e67c4c;
}


a{
    text-decoration:none
}